<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.application.ioav.member.dao.MemberDAO">
	<insert id="insertMember" parameterType="MemberDTO">
		INSERT INTO MEMBER(
			MEMBER_ID,
			PASSWD,
			MEMBER_NM,
			SEX,
			BIRTH_AT,
			HP,
			SMSSTS_YN,
			EMAIL,
			EMAILSTS_YN,
			MEMBER_POINT,
			VIP_YN
		)
		VALUES(
			#{memberId},
			#{passwd},
			#{memberNm},
			#{sex},
			#{birthAt},
			#{hp},
			#{smsstsYn},
			#{email},
			#{emailstsYn},
			#{memberPoint},
			#{vipYn}
		)
	</insert>
</mapper>