<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.application.ioav.survey.dao.SurveyDAO">
	
	<select id="getAllSurveyCnt" parameterType="hashmap" resultType="int">
    <choose>
        <when test='searchKeyword.equals("total")'>
            <choose>
                <when test='searchWord.equals("")'>
                    SELECT COUNT(*) FROM SURVEY
                </when>
                <otherwise>
                    SELECT COUNT(*) FROM SURVEY
                    WHERE SURVEY_NM LIKE CONCAT('%', #{searchWord}, '%') OR
                          WRITER LIKE CONCAT('%', #{searchWord}, '%')
                </otherwise>
            </choose>
        </when>
        <otherwise>
            SELECT COUNT(*) FROM SURVEY
            
        </otherwise>
    </choose>
</select>

	
	<select id="getSurveyList" parameterType="hashmap" resultType="SurveyDTO">
		<choose>
			<when test='searchKeyword.equals("total")'>
				<choose>
				    <when test='searchWord.equals("")'>
						SELECT
								*
						FROM
								SURVEY
						ORDER BY
								POST_DT DESC
						LIMIT
								#{startBoardIdx},#{onePageViewCnt}
					</when>
					<otherwise>
						SELECT
								*
						FROM
								SURVEY
						WHERE
							    SURVEY_NM LIKE CONCAT('%',#{searchWord},'%') OR
								WRITER LIKE CONCAT('%',#{searchWord},'%')
						ORDER BY
								POST_DT DESC
						LIMIT
								#{startBoardIdx},#{onePageViewCnt}
					</otherwise>
				</choose>
			</when>
			<otherwise>
				SELECT
						*
				FROM
						SURVEY
				WHERE
					<if test='searchKeyword.equals("writer")'>
						WRITER LIKE CONCAT('%',#{searchWord},'%')
					</if>
					<if test='searchKeyword.equals("surveyNm")'>
						SURVEY_NM LIKE CONCAT('%',#{searchWord},'%')
					</if>
				ORDER BY
					    POST_DT DESC
			    LIMIT
			    		#{startBoardIdx}, #{onePageViewCnt}
			</otherwise>
		</choose>
	</select>
	
	<select id="getSurveyDetail" parameterType="long" resultType="SurveyDTO">
		SELECT
				*
		FROM
				SURVEY
		WHERE
				SURVEY_ID = #{surveyId}
	</select>
	
	<select id="kwSearchSurvey" parameterType="String" resultType="String">
		SELECT
				KEYWORD
		FROM
				SURVEY
		WHERE
				SURVEY_ID = #{surveyId}
	</select>
	
	<insert id="insertSurvey" parameterType="SurveyDTO">
		INSERT INTO SURVEY(
			SURVEY_NM,
			WRITER,
			CONTENT,
			DUE_DT,
			GIVE_POINT,
			KEYWORD,
			PAY_YN
		)
		VALUES(
			#{surveyNm},
			#{writer},
			#{content},
			#{dueDt},
			#{givePoint},
			#{keyword},
			#{payYn}
		)
	</insert>
	
	<update id="updateSurvey" parameterType="SurveyDTO">
		UPDATE
				SURVEY
		SET
				SURVEY_NM = #{surveyNm},
				WRITER = #{writer},
				CONTENT = #{content},
				DUE_DT = #{dueDt},
				KEYWORD = #{keyword},
				POST_DT = NOW(),
				GIVE_POINT = #{givePoint},
				PAY_YN = #{payYn}
		WHERE
				SURVEY_ID = #{surveyId}
	</update>
	
	
	
	<delete id="deleteSurvey" parameterType="long">
		DELETE FROM
				SURVEY
		WHERE
				SURVEY_ID = #{surveyId}
	</delete>
	
	<update id="updateReadCnt" parameterType="long">
		UPDATE
				SURVEY
		SET
				READ_CNT = READ_CNT + 1	
		WHERE
				SURVEY_ID = #{surveyId}
	</update>
	
	<select id="getCheckPayYn" parameterType="long" resultType="String">
		SELECT
				PAY_YN AS payYn
		FROM
				SURVEY
		WHERE
				SURVEY_ID = #{surveyId}
	</select>

	<select id="getResultList" parameterType="long" resultType="ResultDTO">
		SELECT
				*
		FROM
				RESULT
		WHERE
				SURVEY_ID = #{surveyId}
	</select>
	
	<select id="getReplyDetail" parameterType="long" resultType="ResultDTO">
		SELECT
				*
		FROM	
				RESULT
		WHERE
				RESULT_ID = #{resultId}
	</select>
	
	<insert id="insertResult" parameterType="ResultDTO">
		INSERT INTO RESULT(
			RESULT_ID,
			USER_ID,
			SURVEY_ID,
			ANSWER,
			DO_YN
		)
		VALUES(
			#{resultId},
			#{userId},
			#{surveyId},
			#{answer},
			#{doYn}
		)
	</insert>
	
	<update id="updateResult" parameterType="ResultDTO">
		UPDATE
				RESULT
		SET
				ANSWER = #{answer},
				DO_YN = #{doYn}
		WHERE
				RESULT_ID = #{resultId}
	</update>
	
	<select id="validResultUserCheck" parameterType="ResultDTO" resultType="String">
	
		SELECT
				DO_YN
		FROM
				RESULT
		WHERE
				RESULT_ID = #{resultId}
	</select>
	

</mapper>